.sliderMainBlock{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    /* background-color:cadetblue; */
margin-top: 246px;
}

.slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    /* background-color:violet; */
    width: 640px;
    height: 280px;
    /* margin-top: 40px; */
}

.sliderTitle {
  margin-left: 56px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  /* line-height: 46%;
  letter-spacing: -0.025em; */
  color: #000000;
  /* margin-top: 280px;
  margin-left: 50px; */
}

.btnForward {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: white;
  border-radius: 100%;
  box-shadow: -4px 5px 15px rgba(0, 0, 0, 0.74);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  /* background-color:blueviolet; */
}

  
.sliderBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* background-color:chocolate; */
}


.slider1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 253px;
  height: 240.63px;
  background: #FFFFFF;
  box-shadow: -5px 7px 15px rgba(0, 0, 0, 0.74);
  border-radius: 34px;
  margin: 0 10px;
  /* background-color:cornflowerblue; */
}

.animalType{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center; 
/* background-color:rgb(70, 224, 230); */
width: 200px; 
margin-top: 10px; 
}



.sliderPhoto{
  /* background-color:coral; */
}

.content{
    /* background-color:darkseagreen; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}



.animalPhoto{
    margin-top: 15px;
  }
  
 .titleSlider1{
  font-family: 'Montserrat' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
 }

  
.handler{

}
  

.sliderRectangle {
  margin-top: 35px;
  margin-left: 162px;
  z-index: 1;
  position: relative;
}

.sliderHandle {
  margin-left: -95px;
  z-index: 2;
  margin-top: 32px;
  position: absolute;

}
 

 