.sliderMainBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 246px;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 280px;
}

.sliderTitle {
  margin-left: 56px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #000000;
}

.btnForward {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: white;
  border-radius: 100%;
  box-shadow: -4px 5px 15px rgba(0, 0, 0, 0.74);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}


.sliderBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.slider1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 253px;
  height: 240.63px;
  background: #FFFFFF;
  box-shadow: -5px 7px 15px rgba(0, 0, 0, 0.74);
  border-radius: 34px;
  margin: 0 10px;
}

.animalType {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-top: 10px;
}



.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.animalPhoto {
  margin-top: 15px;
}

.titleSlider1 {
  font-family: 'Montserrat'sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}


.handler {}


.sliderRectangle {
  margin-top: 35px;
  margin-left: 162px;
  z-index: 1;
  position: relative;
}

.sliderHandle {
  margin-left: -95px;
  z-index: 2;
  margin-top: 32px;
  position: absolute;

}