.App {
  text-align: center;
  background: url(./img/background.svg);
  background-repeat: no-repeat;
  display: flex;
}

.container {
  /* max-width: 1685px; */
  margin: auto;
  /* background-color:#FF8989; */
  padding-top:90px;
}